<?xml version="1.0" encoding="UTF-8"?>

<configuration>

    <!-- ConsoleAppender: logs messages to the console -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                %d{HH:mm:ss.SSS} %highlight(%-5level) [%thread] %logger{36} - %msg%n
            </pattern>
        </encoder>
    </appender>

    <!-- Root logger configuration -->
    <root level="INFO">
        <appender-ref ref="console"/>
    </root>

</configuration>